.number-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.number-card h3 {
  color: #555;
  margin-bottom: 0.5rem;
}

.number-card h1 {
  color: #222;
  font-size: 2rem;
  margin: 0;
}


.ant-card-head-title {
  font-size: 1.5rem;
  font-weight: bold;
}

button.ant-btn-primary {
  background: #1677ff;
  border: none;
  height: 45px;
  font-size: 1rem;
}
